<app-no-login-nav-bar></app-no-login-nav-bar>
@if(errorMsg){
<div class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>
}
@if(msg){
    <div class="alert alert-success" role="alert">
        {{msg}}
    </div>
    }
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    @if(!showCode){
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" formControlName="email" placeholder="Email" required>
                            <div class="text-danger" *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                                <div *ngIf="loginForm.controls['email'].errors?.['required']">El correo electrónico es requerido</div>
                                <div *ngIf="loginForm.controls['email'].errors?.['email']">El correo electrónico debe ser válido</div>
                                <div *ngIf="loginForm.controls['email'].errors?.['pattern']">El correo electrónico debe ser de Gmail</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="inputPassword" name="password" required formControlName="password" placeholder="Contraseña">
                            <div class="text-danger" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                <div *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es requerida</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" id="showPassword" (change)="toggleShowPassword()">
                            <label for="showPassword" class="form-label">Mostrar contraseña</label>
                          </div>
                        <button class="btn text-white w-100" [disabled]="loginForm.invalid || buttonDisabled">Iniciar sesión</button>
                        
                    </form>
                    }   
                    @if(showCode){
                    <form [formGroup]="codeForm" (ngSubmit)="verifycode()">
                        <div class="mb-3">
                            <label for="code" class="form-label">Codigo de autorizacion</label>
                            <input type="text" class="form-control" id="code" name="code" placeholder="Ingresa el codigo" formControlName="code" required>
                            <div class="text-danger" *ngIf="codeForm.controls['code'].invalid && (codeForm.controls['code'].dirty || codeForm.controls['code'].touched)">
                                <div *ngIf="codeForm.controls['code'].errors?.['required']">El codigo es requerido</div>
                                <div *ngIf="codeForm.controls['code'].errors?.['minLength']">El codigo debe tener al menos 6 caracteres</div>
                                <div *ngIf="codeForm.controls['code'].errors?.['maxLength']">El codigo no puede tener más de 6 caracteres</div>
                                <div *ngIf="codeForm.controls['code'].errors?.['pattern']">El codigo debe ser un número de 6 dígitos</div>
                            </div>
                        </div>
                        <button class="btn text-white w-100" [disabled]="codeForm.invalid">Verificar</button>
                    </form>
                    }
                </div>
                <div class="card-footer text-center">
                    <p>¿Aun no tienes cuenta? <a routerLink="/registro">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
