<app-no-login-nav-bar></app-no-login-nav-bar>
<div *ngIf="errorsV" class="alert alert-danger" role="alert">
    <li *ngIf="errors.name"><{{errors.name}}</li>
    <li *ngIf="errors.email">{{errors.email}}</li>
    <li *ngIf="errors.password">{{errors.password}}</li>
</div>
<div *ngIf="msg" class="alert alert-success" role="alert">
    {{msg}}
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="name" class="form-control" id="inputNombre" name="name" formControlName="name" placeholder="Nombre" required>
                            <div class="text-danger" *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                                <div *ngIf="registerForm.controls['name'].errors?.['required']">El nombre es requerido</div>
                                <div *ngIf="registerForm.controls['name'].errors?.['minlength']">El nombre debe tener al menos 3 caracteres</div>
                                <div *ngIf="registerForm.controls['name'].errors?.['maxlength']">El nombre no puede tener más de 230 caracteres</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" formControlName="email" placeholder="Email" required>
                            <div class="text-danger" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                <div *ngIf="registerForm.controls['email'].errors?.['required']">El correo electrónico es requerido</div>
                                <div *ngIf="registerForm.controls['email'].errors?.['email']">El correo electrónico debe ser válido</div>
                                <div *ngIf="registerForm.controls['email'].errors?.['pattern']">El correo electrónico debe ser de Gmail</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" formControlName="password" placeholder="Contraseña" required>
                            <div class="text-danger" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                <div *ngIf="registerForm.controls['password'].errors?.['required']">La contraseña es requerida</div>
                                <div *ngIf="registerForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</div>
                                <div *ngIf="registerForm.controls['password'].errors?.['pattern']">La contraseña debe contener solo letras y números</div>
                                <div *ngIf="registerForm.controls['password'].errors?.['maxlength']">La contraseña no puede tener más de 230 caracteres</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password_confirmation" class="form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" formControlName="password_confirmation" placeholder="Confirmar Contraseña" required>
                            <div class="text-danger" *ngIf="registerForm.controls['password_confirmation'].invalid && (registerForm.controls['password_confirmation'].dirty || registerForm.controls['password_confirmation'].touched)">
                                <div *ngIf="registerForm.controls['password_confirmation'].errors?.['required']">La confirmación de la contraseña es requerida</div>
                                <div *ngIf="registerForm.controls['password_confirmation'].errors?.['minlength']">La confirmación de la contraseña debe tener al menos 8 caracteres</div>
                                <div *ngIf="registerForm.controls['password_confirmation'].errors?.['pattern']">La confirmación de la contraseña debe contener solo letras y números</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" class="form-check-input" id="showPassword" (change)="toggleShowPassword()">
                            <label for="showPassword" class="form-check-label">Mostrar contraseña</label>
                        </div>
                        <button type="submit" class="btn text-white w-100" [disabled]="registerForm.invalid || buttonDisabled">Registrarse</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
