<nav class="navbar shadow">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/lifeplants/home" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><img src="../assets/imagenes/icon.png" alt="" class="icon"></a>
      <a class="navbar-brand" routerLink="/lifeplants/home">Life plants</a>
      <ul class="navbar me-auto mb-2 mb-lg-0">
        <li class="navbar-item">
            <button class="btn btn-principal" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                <i class="bi bi-list"></i>
            </button>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-principal dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" routerLink="/lifeplants/perfil">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Cerrar sesion</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img src="../../assets/imagenes/icon.png" alt="" class="icon">Menú</h5>  
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex bg-dark">
      <table class="table table-dark fs-3">
        <tbody>
          <tr><td><a routerLink="/lifeplants/home" data-bs-dismiss="offcanvas"><i class="bi bi-house-door me-2"></i>Inicio</a></td></tr>
          <tr><td><img src="../../../assets/imagenes/iconbw.png" alt="" class="iconplanta"><a routerLink="/lifeplants/plants" data-bs-dismiss="offcanvas"><i class="bi bi-leaf me-2"></i>Plantas</a></td></tr>
          @if(rol_id == 2){
          <tr ><td><a routerLink="/lifeplants/users" data-bs-dismiss="offcanvas"><i class="bi bi-person me-2"></i>Usuarios</a></td></tr>
          }
          <tr><td><a routerLink="/lifeplants/historial"></a></td></tr>
          <tr><td><a routerLink="/lifeplants/about" data-bs-dismiss="offcanvas"><i class="bi bi-info-circle me-2"></i>Acerca de</a></td></tr>
        </tbody>
      </table>
    </div>
</div>

<router-outlet></router-outlet>