<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h1 class="card-title text-primary">Bienvenido</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-2">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center">Plantas</h5>
                    <table class="table">
                        <tbody>
                            <ng-container *ngIf="plants.data.length; else noPlants">
                                <tr *ngFor="let plant of plants.data">
                                    <td>{{plant.plant}}</td>
                                </tr>
                            </ng-container>
                            <ng-template #noPlants>
                                <tr>
                                    <td class="text-center">No hay plantas por mostrar.</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer align-items-center">
                    <button class="btn add" type="button" (click)="link()">Agregar Planta</button>
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="card border-primary shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center">Funciones de los Sensores</h5>
                    <ul>
                        <li><strong>Agua:</strong> Este sensor mide la cantidad de agua disponible para la planta.</li>
                        <li><strong>Temperatura:</strong> Este sensor mide la temperatura del ambiente en el que se encuentra la planta.</li>
                        <li><strong>Humedad:</strong> Este sensor mide la humedad del ambiente en el que se encuentra la planta.</li>
                        <li><strong>Lluvia:</strong> Este sensor detecta si está lloviendo o no.</li>
                        <li><strong>Suelo:</strong> Este sensor mide la calidad del suelo en el que se encuentra la planta.</li>
                        <li><strong>Luz:</strong> Este sensor mide la cantidad de luz que recibe la planta.</li>
                        <li><strong>Movimiento:</strong> Este sensor detecta si hay algún movimiento alrededor de la planta.</li>
                        <li><strong>Vibración:</strong> Este sensor detecta si hay alguna vibración en el suelo donde se encuentra la planta.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>